---
import Mainlayout from '../../layouts/main.astro'; 
---

<Mainlayout title="Create an account">
	<main>
        <section id="warning" class="hidden" style="background-color: var(--danger-2); border-bottom: 2px solid var(--danger-1);">
        </section>
		<section>
            <h1>Register</h1>
            <p>Create a 25565.club account</p>
        </section>
		<section style="gap: 5px;" id="mainform"> 
            <input id="username" type="text" placeholder="Username (do not use your real name)">
            <input id="password" type="password" placeholder="Password (8-256 letters)">
            <input id="invite" type="text" placeholder="Invite Code (eg. abcd1234)">
            <a href="/docs?p=invite-codes">How to get an invite code?</a>
            <div style="display: flex; align-items: center; justify-content: space-between;">
                <input id="agree" type="checkbox" name="1">
                <p>I agree to the <a href="/legal/tos.html">Terms of Service</a> and <a href="/legal/privacy.html">Privacy policy</a></p>
            </div>
            <p style="color: var(--danger-1);" id="authstatus"></p>
            <button id="btn-register">Create Account</button>
        </section>
		<section>
			<p>Allready have an account? <a href="/auth/login">Sign in!</a></p>
		</section>
	</main>
    <script>
      import { zoomies } from 'ldrs'
      zoomies.register()
    </script>
    <script type="module" src="/scripts/main.js"></script>
    <script>
        const params = new URLSearchParams(window.location.search);
        const loginrequiredmessageParam = params.get('loginrequiredmessage');
        const warningSection = document.getElementById("warning");

        if (loginrequiredmessageParam) {
            if (warningSection) {
                warningSection.classList.remove("hidden")
                warningSection.innerHTML = `
                    <h3>Login required!</h3>
                    <p>You need to log in or sign up to access this page</p>
                `
            };
        };
    </script>
</Mainlayout>
