main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 2.5rem;
    flex: 1;
}

section {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-2);
    padding: 10px;
    border-bottom: 2px solid var(--accent);
    border-radius: var(--radius);
    max-width: 500px;
    width: 80%;
}

input, select, textarea {
    all: unset;
    display: block;
    background-color: var(--bg);
    color: var(--txt);
    padding: 10px 14px;
    border: 2px solid var(--accent);
    border-radius: var(--radius);
    box-sizing: border-box;
}

input[type="checkbox"] {
    width: 2rem;
    height: 2rem;
    transition: all 0.2s ease-in-out;
}

input[type="checkbox"]:checked {
    background-color: var(--accent);
}

input::placeholder {
    color: var(--txt-3);
}

button {
    position: relative;
    padding: 0.25rem;
    border: none;
    border-radius: 8px;
    background-color: var(--bg);
    color: var(--txt-2);
    cursor: pointer;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.2s ease, transform 0.2s ease, box-shadow 0.2s ease;
    border-bottom: 2px solid var(--bg-extra-light);
    box-shadow: 0 4px 0 var(--bg-extra-light);
}

button:hover {
    background-color: var(--accent);
    transform: translateY(-2px);
    box-shadow: 0 6px 0 var(--bg-3);
    color: var(--txt-4);
    transition: all 0.2s ease-in-out;
}

button:active {
    transform: translateY(4px);
    box-shadow: 0 1px 0 var(--bg-light);
    filter: brightness(0.5);
}

button.btn-danger {
    background-color: var(--danger-2);
    color: var(--danger-1);
}

button.btn-danger:hover {
    background-color: var(--danger-1);
    color: var(--txt);
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

code {
    padding: 2px;
    border-radius: 6px;
    background-color: var(--code);
    border: 1px;
}

.hidden {
    display: none;
    opacity: 0;
}