nav {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg-2);
    padding: 10px;
    border-bottom: 2px solid var(--accent);
    border-radius: var(--radius);
    width: calc(100vw - 20px);
}

.theme-toggle {
    color: var(--txt-2);
    cursor: pointer;
}

.logo img {
    image-rendering: pixelated;
    width: 32px;
}

.logo {
    transition: box-shadow 0.3s ease;
}

.logo:hover {
    box-shadow: 0 0 12px var(--accent);
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
    flex: 1;
}

section {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-2);
    padding: 10px;
    border-bottom: 2px solid var(--accent);
    border-radius: var(--radius);
    max-width: 500px;
    width: 80%;
}



footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg-2);
    padding: 10px;
    border-top: 2px solid var(--accent);
    border-radius: var(--radius);
    margin-top: 2rem;
}