---
import Mainlayout from '../layouts/main.astro'; 
const title = '25565 is under maintenance!';
---

<Mainlayout title={title}>
	<main>
		<section>
			<div style="text-align: center;">
				<h1>Maintenance</h1>
                <p>25565.club is currently under maintenance, check back later.</p>
			</div>
		</section>
	</main>
</Mainlayout>
