---
import Mainlayout from '../layouts/main.astro'; 
const title = 'Subdomains List';
---

<Mainlayout title={title}>
	<main>
		<section>
			<div style="text-align: center;">
				<h1>Subdomains List</h1>
			</div>
		</section>
		<section>
			<ul>
                <li>.25565.club</li>
                <li>.h1ml.party (comming soon)</li>
            </ul>
		</section>
	</main>
</Mainlayout>
