<div id="sitelist-main" class="sitelist">
</div>
<style>
    .sitelist {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        gap: 1rem;
    }
</style>
<script type="module">
    import { loggedIn } from '/scripts/main.js';
    import { client } from '/scripts/login.js';
    import { TablesDB, ID, Query } from "https://cdn.jsdelivr.net/npm/appwrite@21.5.0/+esm";

    const mainEl = document.getElementById('sitelist-main')
    
    const tablesDB = new TablesDB(client);

    const promise = tablesDB.listRows({
        databaseId: "6908f07400095129c609",
        tableId: "featured_sites"
    });

    promise.then(
        function (response) {
            console.log(response);

            response.rows.forEach(element => {
                const sitecard = document.createElement('div');
                sitecard.classList.add("sitecard")
                sitecard.innerHTML = `
                    <h3>${element.name}</h3>
                    <p>${element.url}</p>
                `;

                mainEl.appendChild(sitecard);
            });
        },
        function (error) {
            console.log(error);
        }
    );
</script>